<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <table border="1" style="width:100%">
            <tr>
                <th>SBTS SM Configuration</th>
                <th colspan="3">SM1 Deployment</th>
                <th colspan="3">SM2 Deployment</th>
                <th colspan="3">LTE BB Capacity</th>
                <th>WCDMA BB Capacity</th>
                <th>GSM BB Capacity</th>
            </tr>
            <tr>
                <td></td>
                <th>FSMF_1</th> 
                <th>FBBx_1.1</th>
                <th>FBBx_1.2</th>
                <th>FSMF_1</th> 
                <th>FBBx_1.1</th>
                <th>FBBx_1.2</th>
                <th>#RCS</th> 
                <th>#BCS</th>
                <th>#ECS</th>
                <th>#SU</th>
                <th>#TRXs</th>
            </tr>
        </table>
    </div>
</div>