<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Configurations</div>
    <div class="panel-body">
        <table border="1" style="width:100%">
            <tr>
                <th>SBTS SM Configuration</th>
                <th colspan="3">SM1 Deployment</th>
                <th colspan="3">SM2 Deployment</th>
                <th colspan="3">LTE BB Capacity</th>
                <th>WCDMA BB Capacity</th>
                <th>GSM BB Capacity</th>
            </tr>
            <tr>
                <td></td>
                <th>FSMF_1</th> 
                <th>FBBx_1.1</th>
                <th>FBBx_1.2</th>
                <th>FSMF_2</th> 
                <th>FBBx_2.1</th>
                <th>FBBx_2.2</th>
                <th>#RCS</th> 
                <th>#BCS</th>
                <th>#ECS</th>
                <th>#SU</th>
                <th>#TRXs</th>
            </tr>
            <tr ng-repeat="product in name ">
                <td>{{product['SBTS SM configuration']}}</td>
                <td>{{product['SM1 deployment'].FSMF_1}}</td>
                <td>{{product["SM1 deployment"]['FBBx_1.1']}}</td>
                <td>{{product["SM1 deployment"]['FBBx_1.2']}}</td>
                <td>{{product['SM2 deployment'].FSMF_2}}</td>
                <td>{{product["SM2 deployment"]['FBBx_2.1']}}</td>
                <td>{{product["SM2 deployment"]['FBBx_2.2']}}</td>
                <td>{{product["LTE BB capacity"]['#RCS']}}</td>
                <td>{{product["LTE BB capacity"]['#BCS']}}</td>
                <td>{{product["LTE BB capacity"]['#ECS']}}</td>
                <td>{{product["WCDMA BB capacity"]['#SU']}}</td>
                <td>{{product["GSM BB capacity"]['#TRXs']}}</td>


            </tr>
        </table>
    </div>
</div>