<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Configurations</div>
    <div class="panel-body">
        <table border="1" style="width:100%">
            <tr>
                <th>SBTS SM Configuration</th>
                <th colspan="3">SM1 Deployment</th>
                <th colspan="3">SM2 Deployment</th>
                <th colspan="3">LTE BB Capacity</th>
                <th>WCDMA BB Capacity</th>
                <th>GSM BB Capacity</th>
            </tr>
            <tr>
                <td></td>
                <th>FSMF_1</th> 
                <th>FBBx_1.1</th>
                <th>FBBx_1.2</th>
                <th>FSMF_1</th> 
                <th>FBBx_1.1</th>
                <th>FBBx_1.2</th>
                <th>#RCS</th> 
                <th>#BCS</th>
                <th>#ECS</th>
                <th>#SU</th>
                <th>#TRXs</th>
            </tr>
            <tr ng-repeat="output in name">
                <td>{{ output.smconfiguration }}</td>
                <td>{{ output.sm1.fsmf }}</td>
                <td>{{ output.sm1.fbbx1 }}</td>
                <td>{{ output.sm1.fbbx2 }}</td>
                <td>{{ output.sm2.fsmf }}</td>
                <td>{{ output.sm2.fbbx1 }}</td>
                <td>{{ output.sm2.fbbx2 }}</td>
                <td>{{ output.ltebbcapacity.rcs }}</td>
                <td>{{ output.ltebbcapacity.bcs }}</td>
                <td>{{ output.ltebbcapacity.ecs }}</td>
                <td>{{ output.wcdmabbcapacity.su }}</td>
                <td>{{ output.gsmbbcapacity.trxs }}</td>
            </tr>
        </table>
    </div>
</div>