<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <title>Alpha SRAN BB Dimensions</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="styles/customstyles.css">

    </head>
    <body ng-app="SRAN-BBD-app">
        <div class="row" ng-controller="SRANBBDController" ng-init='getData() '>
            <div class="col-lg-8 col-lg-offset-2">
                <div class="row">
                    <!--Option Btn-->
                    <technology ng-repeat="technology in technologies" name="technology"></technology>
                </div>  
                <div class="row">
                    <!--DD Btn-->
                    <div ng-hide="isLTEChecked">
                      <input type="checkbox" ng-click="rcsCheck()">RCS
                      <input type="checkbox" ng-click="bcsCheck()">BCS
                      <input type="checkbox" ng-click="ecsCheck()">ECS
                    </div>
                  <button ng-show="FsmfCount !== 2" ng-click="fsmfAddedClicked()">Add FSMF</button>  <!-- jas -->
                  <button ng-show="FsmfCount === 2" style="color:gray">Add FSMF</button>
                </div>
                <div class="row">
                    <!--Picture-->
                    <div ng-include src="'components/graphicalinput/graphical.input.template.html'"></div>
                </div>
                <div class="row">
                    <!--Output table-->
                    <output name="data | filter: {true: allRcsNotZero  }[isRCSChecked] | filter: {true: allBcsNotZero  }[isBCShecked] | 
                                                    filter: {true: allEcsNotZero  }[isECSChecked] | 
                                                    filter: {true: isWCDMA  }[isWCDMAChecked] | filter: {true: isLTE  }[isLTEChecked] | filter: {true: isGSM  }[isGSMChecked] "></output>
                </div>
            </div>
        </div>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="app.js"></script>
        <script src="components/technology/technology.directive.js"></script>
        <script src="components/output/output.directive.js"></script>
        <script src="//localhost:35729/livereload.js"></script>
    </body>
</html>
